@use 'src/styles/vars';

.header {
  height: 4.5rem;
  background-color: vars.$blue-color;
  color: #fff;

  &__band {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav__responsive--display {
  display: none;
}




// MEDIUM Size
@media screen and (min-width: 768px) {
   .header {
      display: none;
    }
  }
